/* CSS for the loader */
.loader-body{
  position: fixed;
  z-index: 999;
  margin-top :-57px;
  width:100%;
  height: 100%;
  background-color: #000000c9 !important;
}
.loader {
    border: 16px solid #dc3545;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border-top: 16px solid #000000c9 !important;
    background-color: #000000c9 !important;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  