*{
    background-color: black;
}

.nav-icon{
    position: fixed;
    padding: 50vh 0;
    padding-left:2%;
}

div.movie-card{
    background-color: black;
    color:silver;
    margin-bottom: 7.5%;
    margin-top: 7.5%;
    width: 206px;
    height: 270px;
}

div.movie-card img {
    width: 200px;
    height: 250px;
    cursor: pointer;
    padding:0;
    margin: 0;
}
.movie-title {
margin: 0;
padding: 0;
font-family: cursive;
height: 26px;
font-size: 15px;
}

.movie-year{
    font-size: smaller;
}