<div style="" class="container-fluid">
    <div class="row">
        <div *ngFor="let movieDetails of moviesList" style="text-align:center;" class="col-md-3 col-sm-6 col-6">
            <div class="movie-card">

                <p class="movie-title" mat-raised-button matTooltip="{{movieDetails.title}}">{{movieDetails.title |
                    charLimiter}}
                    <span class="movie-year">({{movieDetails.year}})</span>
                </p>

                <figure appPosterHover genres="{{movieDetails.genres}}" rating="{{movieDetails.imdb.rating}}">
                    <img src="{{movieDetails.poster | checkPoster}}" alt="{{movieDetails.title}}">
                </figure>

            </div>
        </div>
    </div>
</div>

<div *ngIf="loader" class="loader-body">
    <div class="loader"></div>
</div>