*{
    color: lavender;
}
#movie-image {
    border : 5px solid white;
    width: 240px;
    height: 320px;
    transition: width .5s ease,height .5s ease,border 1s ease;
}

h2{
    color: #dc3545;
}

#movie-image:hover {
    border : 5px solid #dc3545;
    width: 250px;
    height: 340px;
}

.details{
    text-align:center;
}
.detailName{
    color:green;
    font-size: 100%;
    font-weight: bold;
}

.genres {
    font-weight: 400;
    color: green;
    font-style: italic;
}
.detail{
    padding:0;
    margin:0;
}

#trailer{
    text-align: center;
}

#trailer #iframeDiv{
    transition: width 2s ease-in-out,height 2s ease-in-out; 
    width:400px;
    display: inline-block;
    height:300px;
    padding:0;
    margin:0;
}

#trailer #iframeDiv:hover{
    z-index:99;
    width: 60vw;
    transform : translate(30,30);
    height: 40vw;
}